@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,800;1,200&display=swap");

.logo-nav {
    font-family: "Pacifico";
    letter-spacing: 2px;
}

.container button a {
    text-decoration: none;
    color: inherit;
}

.container .alert {
    background-color: transparent;
    color: white;
}
