@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,800;1,200&display=swap");

body {
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav */
.logo-nav {
    font-family: "Pacifico";
    letter-spacing: 2px;
}

/* content */
.content {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 20px;
}

/* content card */

.content .card {
    width: 100%;
    border: solid 1px white;
    cursor: pointer;
}

.content .card .card-body:hover {
    background-color: hsla(51, 100%, 49%, 0.404);
}

.content .card .card-body .text-card {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    transition: 0.2s;
}

.content .card .card-body .date-card {
    text-align: right;
    margin-bottom: -10px;
}

/* content form */

.content form {
    border: solid 1px white;
    padding: 15px;
    border-radius: 10px;
}

.content form input {
    background-color: transparent;
}

.content form input:focus,
.content form input:active {
    background-color: transparent;
}

.content form textarea {
    background-color: transparent;
}

.content form textarea:focus,
.content form textarea:active {
    background-color: transparent;
}

.content form .form-input {
    margin-bottom: 10px;
}

/* responsive  */
@media (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
    }
    .content .right-content {
        display: none;
    }
}
