@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,800;1,200&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* nav */

.navbar .navbar-brand {
    font-family: "Pacifico";
}

.navbar .nav-item button {
    height: 35px;
    width: 100px;
    background-color: transparent;
    border-radius: 5px;
}

/* form */
.container form {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container form input {
    background-color: transparent;
}

.container form input:focus,
.container form input:active {
    background-color: transparent;
}

.container form textarea {
    background-color: transparent;
}

.container form textarea:focus,
.container form textarea:active {
    background-color: transparent;
}

.container form .form-input {
    margin-bottom: 10px;
}

.img-ganti-prof {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}
